$textoMontserratBold: Montserrat-Bold;
$textMonserratMedium: Montserrat-Medium;
$textoRobotoBold: Roboto-Bold;
$textoRobotoMedium: Roboto-Medium;
$textoRobotRegular: Roboto-Regular;
$colorPurple: #572EE5;
$colorWhite: #FFFFFF;
$colorGreenTryAgain: #50E3C2;
$colorGreyNocturneMode: #9CAFC3;
$colorTextBlack: #000000;
$colorWhiteGrey: #F3F5F8;
$colorGreyDarkMode: #37383C 100%;
$colorBlackDarkMode: #222326 100%;